<!DOCTYPE html>
<html>
  <head>
    <title>A-muz-on</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript"> 
        window.logoBlack = "<%= image_url('BlackLogoAmuzon.png') %>";
        window.logoWhite = "<%= image_url('WhiteLogoAmuzon.png') %>";
        window.searchIcon = "<%= image_url('SearchLogo.png') %>";
        window.navLeft = "<%= image_url('NavBarLeftMenu.png') %>";
        window.bodyImg = "<%= image_url('bodyImg.png') %>";
        window.blackFriday = "<%= image_url('BlackFridayBanner.jpg') %>";
 
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
