<!DOCTYPE html>
<html>
  <head>
    <title>A-muz-on</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url('favicon.ico') %>

    <script type="text/javascript"> 
        window.amuzonBlack = "<%= image_url('BlackLogoAmuzon.png') %>";
        window.amuzonWhite = "<%= image_url('WhiteLogoAmuzon.png') %>";
        window.searchIcon = "<%= image_url('SearchLogo.png') %>";
        window.navLeft = "<%= image_url('NavBarLeftMenu.png') %>";
        window.bodyImg = "<%= image_url('bodyImg.png') %>";
        
        window.navCart = "<%= image_url('amazonCart.png') %>";
        window.kobePic = "<%= image_url('KobeNorm1.jpg') %>";
        window.primeLogo = "<%= image_url('primeLogo.png') %>";
        window.navbarLoc = "<%= image_url('navbarLoc.png') %>";
        window.logoGithubW = "<%= image_url('githubLogoW.png') %>";
        window.logoLinkedinW = "<%= image_url('linkedinLogoW.png') %>";
        window.emptyStar = "<%= image_url('empty_star.svg') %>"
        window.fullStar = "<%= image_url('full_star.svg') %>"


      
    </script> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
